---
layout: tataletak.njk
---
<h1>Selamat Datang di Template <br> OgataKaede's 11ty</h1>

<p>
Template ini untuk memudahkan dalam mengenal 11ty,<br>
11ty merupakan generator web statis yang nihilis.
<br>
<br>
karena anda yang menentukan skema folder generator anda,<br>
karena itu yang memberi arsitektur skema anda.
<br>
<br>
<h3> Parsing data dari API ke Table</h3>
<p>
    Hasil api diambil dari : https://reqres.in/api/products/3
    <br>
    Rincinan liat di js/index.js
</p>
<table id="isiAPI">
<tr>
    <th>Warna</th>
    <th>Nama</th>
    <th>#RGB</th>
</tr>
</table>
<br>
<br>
Template ini hanya pencontohan, dengan mengunakan <br>
nunjucks sebagai mesin template dan css pada folder css.
<br>
<br>
Untuk mengcek konfigurasi anda dapat memukanya pada .eleventy.js
<br>
<br>
untuk mengenal eleventy lebih lanjut dapat mengunjungi
<br> 
<a href="https://www.11ty.dev/docs/"> 
11ty
</a>

<br>
<br>
<h3>Template ini publik domain</h3>
</p>
<script src="js/index.js">
run();
</script>