---
judul: OgataKaede's 11ty
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>{{ judul }}</title>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>